<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Informatik-Präsentationen</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div id="app">
            <transition-group tag="div" class="page-slider" :name="back ? 'pageslider-back' : 'pageslider-forward'">
                <div v-if="pageIndex === 0" key="1" class="page">
                    <div class="pagecontent">
                        <h1 class="teamtitle">Team 1</h1>
                        <h5 class="teamfooter">Tim, Otabek, und Yogi</h5>
                        <ul>
                            <li class="topicitem"><a href="#">NETZ: Internet, Struktur, Historie, Aufbau</a></li>
                            <li class="topicitem"><a href="#">HTML: Was ist HTML, Simples Beispiel, Browser, Seitenstruktur, Geschichte</a></li>
                        </ul>
                    </div>
                </div>

                <div v-if="pageIndex === 1" key="2" class="page">
                    <div class="pagecontent">
                        <h1 class="teamtitle"><a class="teamtitle" href="https://spnda.github.io/cs-presentation/">Team 2</a></h1>
                        <h5 class="teamfooter">Loukas, Samuel, und Sean</h5>
                        <ul>
                            <li class="topicitem"><a href="https://spnda.github.io/cs-presentation/ip_adressen/">NETZ: IP-Addressen, Subnetz</a></li>
                            <li class="topicitem"><a href="https://spnda.github.io/cs-presentation/html/">HTML: Editoren, Doc Types, Headings, Paragraphen</a></li>
                        </ul>
                    </div>
                </div>

                <div v-if="pageIndex === 2" key="3" class="page">
                    <div class="pagecontent">
                        <h1 class="teamtitle"><a class="teamtitle" href="https://rexonfury.github.io/Informatik/index.html">Team 3</a></h1>
                        <h5 class="teamfooter">Jakob, Max, und Nathal</h5>
                        <ul>
                            <li class="topicitem"><a href="https://rexonfury.github.io/Informatik/TCP.html">NETZ: TCP</a></li>
                            <li class="topicitem"><a href="https://rexonfury.github.io/Informatik/HTML.html">HTML: Elemente, verschachtelte Elemente, 10 interessante Tags</a></li>
                        </ul>
                    </div>
                </div>

                <div v-if="pageIndex === 3" key="4" class="page">
                    <div class="pagecontent">
                        <h1 class="teamtitle"><a class="teamtitle" href="https://kimo-boop.github.io/cs-presentation">Team 4</a></h1>
                        <h5 class="teamfooter">Berk, Fred, und Karim</h5>
                        <ul>
                            <li class="topicitem"><a href="https://kimo-boop.github.io/cs-presentation/index2.html">NETZ: MAC-Addressen</a></li>
                            <li class="topicitem"><a href="https://kimo-boop.github.io/cs-presentation/Index3.html">HTML: Links, Bilder, Sourcecode in Browsern</a></li>
                        </ul>
                    </div>
                </div>
            </transition-group>
            <div class="pagebuttons">
                <button class="pagebutton" @click="previous()"><i class="arrow left"></i></button>
                <button class="pagebutton" @click="next()"><i class="arrow right"></i></button>
            </div>
        </div>

        <!-- Script has to be after content div for Vue to work. -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>
